<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile Page</title>
	<link href="<?php echo base_url('assets/css/bootstrap.min.css'); ?>" rel="stylesheet"> 
	<link href="<?php echo base_url('assets/css/style.css'); ?>" rel="stylesheet"> 
	<script src="<?php echo base_url('assets/js/jquery-2.1.4.min.js'); ?>"></script>
	<script src="<?php echo base_url('assets/js/bootstrap.min.js'); ?>"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<!-- Left Col -->
					<div class="col-md-8">
						<div class="alert alert-dismissible alert-warning">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<h4>Selamat <?php echo $waktu." ".$anggota->NAMA_LENGKAP."...."; ?></h4>
							<p>Silahkan lengkapi data pribadi dan data riwayat anda <a href="#">disini</a>, Apabila mengalami kesulitan silahkan hubungi <a>Departemen Administrasi dan Kesekretariatan</a>.</p>
						</div>

						<h4>Anggota yang berulang tahun pekan ini: </h4>
						<?php if (count($birthday) == 0) : ?>
							<p>Tidak ada yang sedang berulang tahun pekan ini</p>
						<?php else : ?>
							<?php foreach($birthday as $row): ?>
								<p><?php echo $row->NAMA_LENGKAP ; ?></p>
							<?php endforeach ; ?>
						<?php endif; ?>

						<hr>

						<h4>Kegiatan Mendatang Bulan ini: </h4>
						<p>Sekolah Kemahasiswaan 2016</p>
						<p>Pemilihan Ketua Himpunan Mahasiswa Komputer 2016-2017</p>
						<p>Serah Terima Jabatan</p>
						<p>Liga JTK 2016</p>

					</div>

					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										Berkontribusi pada kegiatan
									</div> 
									<div class="panel-body">
										<p>Sekolah Kemahasiswaan</p>
										<p>Kompetisi Pemrograman 2016</p>
										<p>Latihan Kepemimpinan Mahasiswa Tingkat Akhir 2016 </p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<footer>
					<hr> <p class="text-center">&copy; 2016 Himpunan Mahasiswa Komputer Politeknik Negeri Bandung</p>
				</footer>
			</div>	
		</div>		
	</div>
</body>
</html>