<!-- Bootstrap Modal -->

<!-- Modal for add contact -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="contactModalLabel">Tambah Kontak</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="formKontak">
					<div class="form-group">
						<label class="col-md-4 control-label" for="inputKontak">Detil kontak</label>
						<div class="col-md-8">
							<input name="detil_kontak" class="form-control" id="inputKontak" required="" type="text" placeholder="Detil kontak" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
					<label class="col-md-4 control-label" for="inputJenisKontak">Jenis kontak</label>					
					<div class="col-md-8">
						<div class="radio">
							<label>
								<input name="jenis_kontak" required="" type="radio" value="H">
								No. Handphone	
							</label>
						</div>
							
						<div class="radio">
							<label>
								<input name="jenis_kontak" required="" type="radio" value="E">
									Email
							</label>
						</div>
					</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="close_contact_modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnAddContactModal">Tambah Kontak</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for add riwayat pendidikan -->
<div class="modal fade" id="riwayatPendidikanModal" tabindex="-1" role="dialog" aria-labelledby="riwayatPendidikanModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="riwayatPendidikanModalLabel">Tambah Riwayat Pendidikan</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="formRiwayatPendidikan">
					<div class="form-group">
						<label class="col-md-4 control-label" for="inputJenjangPendidikan">Jenjang Pendidikan</label>
						<div class="col-md-7">
							<div class="radio">
								<label>
									<input name="jenjang_pendidikan" required="" type="radio" value="D">
									SD
								</label>
							</div>
							
							<div class="radio">
								<label>
									<input name="jenjang_pendidikan" required="" type="radio" value="P">
									SMP
								</label>
							</div>

							<div class="radio">
								<label>
									<input name="jenjang_pendidikan" required="" type="radio" value="A">
									SMA / SMK
								</label>
							</div>

							<div class="radio">
								<label>
									<input name="jenjang_pendidikan" required="" type="radio" value="T">
									Perguruan Tinggi
								</label>
							</div>
							<br>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaInstitusi">Nama Institusi</label>
						<div class="col-md-7">
							<input name="nama_institusi" class="form-control" id="inputNamaInstitusi" required="" type="text" placeholder="Nama Institusi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunMasuk">Tahun Masuk</label>
						<div class="col-md-7">
							<input name="tahun_masuk" class="form-control" id="inputTahunMasuk" required="" type="text" placeholder="Tahun masuk" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunLulus">Tahun Lulus</label>
						<div class="col-md-7">
							<input name="tahun_lulus" class="form-control" id="inputTahunLulus" required="" type="text" placeholder="Tahun lulus" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputBidang">Bidang</label>
						<div class="col-md-7">
							<input name="bidang" class="form-control" id="inputBidang" type="text" placeholder="Bidang" value="" autocomplete="off">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="close_contact_modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnAddRiwayatPendidikanModal">Tambah Riwayat</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for add riwayat organisasi -->
<div class="modal fade" id="riwayatOrganisasiModal" tabindex="-1" role="dialog" aria-labelledby="riwayatOrganisasiModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="riwayatOrganisasiModalLabel">Tambah Riwayat Organisasi</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="formRiwayatOrganisasi">
					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaOrganisasi">Nama Organisasi</label>
						<div class="col-md-7">
							<input name="nama_org" class="form-control" id="inputNamaOrganisasi" required="" type="text" placeholder="Nama Organisasi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputJabatanOrganisasi">Jabatan Organisasi</label>
						<div class="col-md-7">
							<input name="jabatan_org" class="form-control" id="inputJabatanOrganisasi" required="" type="text" placeholder="Jabatan Organisasi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunMulaiOrganisasi">Tahun Mulai</label>
						<div class="col-md-7">
							<input name="tahun_mulai_org" class="form-control" id="inputTahunMulaiOrganisasi" required="" type="text" placeholder="Tahun Mulai" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunSelesaiOrganisasi">Tahun Selesai</label>
						<div class="col-md-7">
							<input name="tahun_selesai_org" class="form-control" id="inputTahunSelesaiOrganisasi" required="" type="text" placeholder="Tahun Selesai" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputOrgKemahasiswaan">Organisasi Kemahasiswaan</label>
						<div class="col-md-7">
							<div class="radio">
								<label>
									<input name="org_kemahasiswaan" required="" type="radio" value=1>
									Ya
								</label>
							</div>
							
							<div class="radio">
								<label>
									<input name="org_kemahasiswaan" required="" type="radio" value=0>
									Tidak
								</label>
							</div>
							<br>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="close_riwayatOrganisasi_modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnAddRiwayatOrganisasiModal">Tambah Riwayat</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for add riwayat Prestasi -->
<div class="modal fade" id="riwayatPrestasiModal" tabindex="-1" role="dialog" aria-labelledby="riwayatPrestasiModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="riwayatPrestasiModalLabel">Tambah Riwayat Prestasi</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="formRiwayatPrestasi">
					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTingkatPrestasi">Tingkat Prestasi</label>
						<div class="col-md-7">
							<select name="tingkat_prestasi" class="form-control" id="inputTingkatPrestasi" required="">
								<option value="">--Pilih Tingkat Prestasi--</option>
								<?php foreach ($tingkat_prestasi as $row) : ?>
									<option value=<?php echo $row->ID_TINGKAT_PRESTASI; ?>> <?php echo $row->NAMA_TINGKAT_PRESTASI; ?> </option>
								<?php endforeach; ?>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaPrestasi">Nama Prestasi</label>
						<div class="col-md-7">
							<input name="nama_prestasi" class="form-control" id="inputNamaPrestasi" required="" type="text" placeholder="Nama Prestasi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputPencapaianPrestasi">Pencapaian Prestasi</label>
						<div class="col-md-7">
							<input name="pencapaian_prestasi" class="form-control" id="inputPencapaianPrestasi" required="" type="text" placeholder="Pencapaian Prestasi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputLembagaPrestasi">Lembaga Prestasi</label>
						<div class="col-md-7">
							<input name="lembaga_prestasi" class="form-control" id="inputLembagaPrestasi" required="" type="text" placeholder="Lembaga Prestasi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunPrestasi">Tahun Prestasi</label>
						<div class="col-md-7">
							<input name="tahun_prestasi" class="form-control" id="inputTahunPrestasi" required="" type="text" placeholder="Tahun Prestasi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputJenisPrestasi">Jenis Prestasi</label>
						<div class="col-md-7">
							<div class="radio">
								<label>
									<input name="jenis_prestasi" required="" type="radio" value="I">Individu
								</label>
							</div>
							
							<div class="radio">
								<label>
									<input name="jenis_prestasi" required="" type="radio" value="K">Kelompok
								</label>
							</div>
							<br>
						</div>

					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="close_riwayatPrestasi_modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnAddRiwayatPrestasiModal">Tambah Riwayat</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal for add riwayat Kepanitiaan -->
<div class="modal fade" id="riwayatKepanitiaanModal" tabindex="-1" role="dialog" aria-labelledby="riwayatKepanitiaanModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="riwayatKepanitiaanModalLabel">Tambah Riwayat Kepanitiaan</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="formRiwayatKepanitiaan">
					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaKegiatan">Nama Kegiatan</label>
						<div class="col-md-7">
							<input name="nama_kegiatan_kepanitiaan" class="form-control" id="inputNamaKegiatan" required="" type="text" placeholder="Nama Kegiatan" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaOrganisasi">Nama Organisasi</label>
						<div class="col-md-7">
							<input name="nama_org_kepanitiaan" class="form-control" id="inputNamaOrganisasi" required="" type="text" placeholder="Nama Organisasi" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputJabatan">Jabatan</label>
						<div class="col-md-7">
							<input name="jabatan_kepanitiaan" class="form-control" id="inputJabatan" required="" type="text" placeholder="Jabatan Kepanitiaan" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunKepanitiaan">Tahun Kepanitiaan</label>
						<div class="col-md-7">
							<input name="tahun_kepanitiaan" class="form-control" id="inputTahunKepanitiaan" required="" type="text" placeholder="Tahun Kepanitiaan" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputKepanitiaanKemahasiswaan">Kepanitiaan Kemahasiswaan</label>
						<div class="col-md-7">
							<div class="radio">
								<label>
									<input name="kepanitiaan_kemahasiswaan" required="" type="radio" value=1>
									Ya
								</label>
							</div>
							
							<div class="radio">
								<label>
									<input name="kepanitiaan_kemahasiswaan" required="" type="radio" value=0>
									Tidak
								</label>
							</div>
							<br>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="close_riwayatKepanitiaan_modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnAddRiwayatKepanitiaanModal">Tambah Riwayat</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal for add riwayat Pelatihan -->
<div class="modal fade" id="riwayatPelatihanModal" tabindex="-1" role="dialog" aria-labelledby="riwayatPelatihanModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="riwayatPelatihanModalLabel">Tambah Riwayat Kepanitiaan</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="formRiwayatPelatihan">
					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaPelatihan">Nama Pelatihan</label>
						<div class="col-md-7">
							<input name="nama_pelatihan" class="form-control" id="inputNamaPelatihan" required="" type="text" placeholder="Nama Pelatihan" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaPenyelenggara">Nama Penyelenggara</label>
						<div class="col-md-7">
							<input name="nama_penyelenggara_pelatihan" class="form-control" id="inputNamaPeyelenggara" required="" type="text" placeholder="Nama Penyelenggara" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunPelatihan">Tahun Pelatihan</label>
						<div class="col-md-7">
							<input name="tahun_pelatihan" class="form-control" id="inputTahunPelatihan" required="" type="text" placeholder="Tahun Pelatihan" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inpuPelatihanKemahasiswaan">Pelatihan Kemahasiswaan</label>
						<div class="col-md-7">
							<div class="radio">
								<label>
									<input name="pelatihan_kemahasiswaan" required="" type="radio" value=1>
									Ya
								</label>
							</div>
							
							<div class="radio">
								<label>
									<input name="pelatihan_kemahasiswaan" required="" type="radio" value=0>
									Tidak
								</label>
							</div>
							<br>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="close_riwayatKepanitiaan_modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnAddRiwayatPelatihanModal">Tambah Riwayat</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for add riwayat PKM-->
<div class="modal fade" id="riwayatPKMModal" tabindex="-1" role="dialog" aria-labelledby="riwayatPKMModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="riwayatPKMModalLabel">Tambah Riwayat PKM</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="formRiwayatPKM">
					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaPKM">Nama PKM</label>
						<div class="col-md-7">
							<input name="nama_pkm" class="form-control" id="inputNamaPKM" required="" type="text" placeholder="Nama PKM" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputNamaPenyelenggara">Nama Penyelenggara</label>
						<div class="col-md-7">
							<input name="nama_penyelenggara_pkm" class="form-control" id="inputNamaPeyelenggara" required="" type="text" placeholder="Nama Penyelenggara" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inputTahunPKM">Tahun PKM</label>
						<div class="col-md-7">
							<input name="tahun_pkm" class="form-control" id="inputPKM" required="" type="text" placeholder="Tahun PKM" value="" autocomplete="off">
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="inpuPKMKemahasiswaan">PKM Kemahasiswaan</label>
						<div class="col-md-7">
							<div class="radio">
								<label>
									<input name="pkm_kemahasiswaan" required="" type="radio" value=1>
									Ya
								</label>
							</div>
							
							<div class="radio">
								<label>
									<input name="pkm_kemahasiswaan" required="" type="radio" value=0>
									Tidak
								</label>
							</div>
							<br>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" id="close_riwayatKepanitiaan_modal">Close</button>
				<button type="button" class="btn btn-primary" id="btnAddRiwayatPKMModal">Tambah Riwayat</button>
			</div>
		</div>
	</div>
</div>

<!-- Ajax Script -->
<script>
$(document).ready(function() {
	$('#btnAddContact').click(function(){
		$('#contactModal').modal('show'); 
	});

	$('#btnAddRiwayatPendidikan').click(function(){
		$('#riwayatPendidikanModal').modal('show');
	});

	$('#btnAddRiwayatOrganisasi').click(function(){
		$('#riwayatOrganisasiModal').modal('show'); 
	});

	$('#btnAddRiwayatPrestasi').click(function(){
		$('#riwayatPrestasiModal').modal('show'); 
	});

	$('#btnAddRiwayatKepanitiaan').click(function(){
		$('#riwayatKepanitiaanModal').modal('show'); 
	});

	$('#btnAddRiwayatPelatihan').click(function(){
		$('#riwayatPelatihanModal').modal('show'); 
	});

	$('#btnAddRiwayatPKM').click(function(){
		$('#riwayatPKMModal').modal('show'); 
	});

	$('#btnAddContactModal').click(function(){
		var form = document.forms['formKontak'];
		var dataString = $('#formKontak').serialize();
		$.ajax({
            type: "POST",
            url: "<?php echo site_url('anggota/add_contact') ; ?>",
            data: dataString,
            dataType: "JSON",
            cache: false,
            success: function(json) {
            	reloadTableKontak();
            	$('#formKontak')[0].reset();
            } 
        });

	});

	$('#btnAddRiwayatPendidikanModal').click(function(){
		var form = document.forms['formRiwayatPendidikan'];
		var dataString = $('#formRiwayatPendidikan').serialize();
		$.ajax({
            type: "POST",
            url: "<?php echo site_url('anggota/add_riwayat_pendidikan') ; ?>",
            data: dataString,
            dataType: "JSON",
            cache: false,
            success: function(json) {
            	reloadTableRiwayatPendidikan();
            	$('#formRiwayatPendidikan')[0].reset();
            } 
        });

	});

	$('#btnAddRiwayatOrganisasiModal').click(function(){
		var form = document.forms['formRiwayatOrganisasi'];
		var dataString = $('#formRiwayatOrganisasi').serialize();
		$.ajax({
            type: "POST",
            url: "<?php echo site_url('anggota/add_riwayat_organisasi') ; ?>",
            data: dataString,
            dataType: "JSON",
            cache: false,
            success: function(json) {
            	reloadTableRiwayatOrganisasi();
            	$('#formRiwayatOrganisasi')[0].reset();
            } 
        });

	});

	$('#btnAddRiwayatPrestasiModal').click(function(){
		var dataString = $('#formRiwayatPrestasi').serialize();
		$.ajax({
            type: "POST",
            url: "<?php echo site_url('anggota/add_riwayat_prestasi') ; ?>",
            data: dataString,
            dataType: "JSON",
            cache: false,
            success: function(json) {
            	reloadTableRiwayatPrestasi();
            	$('#formRiwayatPrestasi')[0].reset();
            } 
        });

	});

	$('#btnAddRiwayatKepanitiaanModal').click(function(){
		var dataString = $('#formRiwayatKepanitiaan').serialize();
		$.ajax({
            type: "POST",
            url: "<?php echo site_url('anggota/add_riwayat_kepanitiaan') ; ?>",
            data: dataString,
            dataType: "JSON",
            cache: false,
            success: function(json) {
            	reloadTableRiwayatKepanitiaan();
            	$('#formRiwayatKepanitiaan')[0].reset();
            } 
        });

	});

	$('#btnAddRiwayatPelatihanModal').click(function(){
		var dataString = $('#formRiwayatPelatihan').serialize();
		$.ajax({
            type: "POST",
            url: "<?php echo site_url('anggota/add_riwayat_pelatihan') ; ?>",
            data: dataString,
            dataType: "JSON",
            cache: false,
            success: function(json) {
            	reloadTableRiwayatPelatihan();
            	$('#formRiwayatPelatihan')[0].reset();
            } 
        });

	});

	$('#btnAddRiwayatPKMModal').click(function(){
		var dataString = $('#formRiwayatPKM').serialize();
		$.ajax({
            type: "POST",
            url: "<?php echo site_url('anggota/add_riwayat_pkm') ; ?>",
            data: dataString,
            dataType: "JSON",
            cache: false,
            success: function(json) {
            	reloadTableRiwayatPKM();
            	$('#formRiwayatPKM')[0].reset();
            } 
        });

	});


});

function reloadTableKontak(){
	$.ajax({
		type: "POST",
		url: "<?php echo site_url('anggota/get_contact_ajax') ; ?>",
		cache: false,
		success: function(html) {
        	$("#tableBodyKontak").html(html);
        	$('#contactModal').modal('hide'); 
        } 
    });
}

function reloadTableRiwayatPendidikan(){
	$.ajax({
		type: "POST",
		url: "<?php echo site_url('anggota/get_riwayat_pendidikan_ajax') ; ?>",
		cache: false,
		success: function(html) {
        	$("#tableBodyRiwayatPendidikan").html(html);
        	$('#riwayatPendidikanModal').modal('hide'); 
        } 
    });
}

function reloadTableRiwayatOrganisasi(){
	$.ajax({
		type: "POST",
		url: "<?php echo site_url('anggota/get_riwayat_org_ajax') ; ?>",
		cache: false,
		success: function(html) {
        	$("#tableBodyRiwayatOrganisasi").html(html);
        	$('#riwayatOrganisasiModal').modal('hide'); 
        } 
    });
}

function reloadTableRiwayatPrestasi(){
	$.ajax({
		type: "POST",
		url: "<?php echo site_url('anggota/get_riwayat_prestasi_ajax') ; ?>",
		cache: false,
		success: function(html) {
        	$("#tableBodyRiwayatPrestasi").html(html);
        	$('#riwayatPrestasiModal').modal('hide'); 
        } 
    });
}

function reloadTableRiwayatKepanitiaan(){
	$.ajax({
		type: "POST",
		url: "<?php echo site_url('anggota/get_riwayat_kepanitiaan_ajax') ; ?>",
		cache: false,
		success: function(html) {
        	$("#tableBodyRiwayatKepanitiaan").html(html);
        	$('#riwayatKepanitiaanModal').modal('hide'); 
        } 
    });
}

function reloadTableRiwayatPelatihan(){
	$.ajax({
		type: "POST",
		url: "<?php echo site_url('anggota/get_riwayat_pelatihan_ajax') ; ?>",
		cache: false,
		success: function(html) {
        	$("#tableBodyRiwayatPelatihan").html(html);
        	$('#riwayatPelatihanModal').modal('hide'); 
        } 
    });
}

function reloadTableRiwayatPKM(){
	$.ajax({
		type: "POST",
		url: "<?php echo site_url('anggota/get_riwayat_pkm_ajax') ; ?>",
		cache: false,
		success: function(html) {
        	$("#tableBodyRiwayatPKM").html(html);
        	$('#riwayatPKMModal').modal('hide'); 
        } 
    });
}

</script>