h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

.navbar { 
	background:#f5f5f5; 
	border-bottom:none; 
	border-radius: none;
	box-shadow: none;
}

.cover {
	background-image: url('../img/bg-img.jpg');
  	background-size: cover;
  	background-attachment: fixed;
}

.no-line-header {
	border-bottom : none;
}

.panel-no-background, .panel-no-background .panel-heading {
	background-color: transparent;
}

.login-input::-webkit-input-placeholder { color: white; }
.login-input:-moz-placeholder { color: white; }
.login-input::-moz-placeholder { color: white; }
.login-input:-ms-input-placeholder { color: white; }


input, .login-input {
	color:white !important;
}